@import './globalVariables.module.scss';

@mixin header {
    font-family: $header-font-family;
    font-size: $header-font-size;
    font-weight: 100;
    margin: 1%;
    text-align: center;
    margin-bottom: 40px;
}

@mixin container {
    padding-top: 100px;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: $text-font-family;
}
