@import './globalVariables.module.scss';

@mixin header {
  font-size: $header-font-size;
  font-weight: 100;

  text-align: center;

  margin: 1%;
  margin-bottom: 24px;

  @media (min-width: $media-breakpoint-4) {
    margin-bottom: 40px;
  }
}

@mixin container {
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

@mixin mainContainer {
  @include container;

  padding: 0 $padding-horizontal-content-mobile;
  padding-top: $header-height-mobile;

  @media (min-width: $media-breakpoint-2) {
    width: 80%;

    padding: 0;
    padding-top: $header-height-desktop;
  }
}

@mixin blogContainer {
  @include container;

  padding-top: $header-height-mobile + 16px;

  @media (min-width: $media-breakpoint-1) {
    padding-top: $header-height-desktop + 32px;

    padding-left: 10%;
    padding-right: 10%;
  }
}
