@import 'styles/globalMixins.scss';

.NavigationItem {
    box-sizing: border-box;
}
.Button {
    color: #32d176;
    font-size: 0.8em;
    font-weight: bold;

    display: block;
    white-space: nowrap;
    padding: 7px;
    margin: 7px;

    @media (min-width: $media-breakpoint-1) {
        font-size: 1.3em;
        padding: 10px;
        margin: 10px;
    }

    cursor: pointer;
}

.Button_Sidebar {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 2;
    color: $text-font-color;
    background-color: rgba(255, 255, 255, 0);
    border: 0;

    &:hover {
        text-decoration: underline;
    }
}

.Button_NoStyle {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.Active {
    color: #9c9c97;
}
