.NavigationItem {
  box-sizing: border-box;
}
.Button {
  border: 2px solid #32d176;
  border-radius: 5px;
  background-color: #a9fdac;
  color: #fff;
  font-size: 75%;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  padding: 7px;
  margin: 7px;
}
@media (min-width: 375px) {
  .Button {
    font-size: 80%;
    padding: 10px;
    margin: 10px;
  }
}
@media (min-width: 414px) {
  .Button {
    font-size: 100%;
    padding: 10px;
    margin: 10px;
  }
}
.Button_Sidebar {
  font-size: 125%;
  font-weight: normal;
  color: gray;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
.Active {
  color: #9c9c97;
}
