@import 'styles/globalMixins.scss';

.SingleProject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 650px;
    background-color: rgba(255, 255, 255, 1);

    border-radius: 6px;
    box-sizing: border-box;

    margin: 10px;
    text-align: justify;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all $animation-length-quicker cubic-bezier(0.25, 0.8, 0.25, 1);
    @media (min-width: $media-breakpoint-2) {
        width: 320px;
    }
    @media (min-width: $media-breakpoint-3) {
        width: 330px;
        height: 530px;
    }

    &:hover {
        .ProjectName {
            text-decoration: underline;
        }
        background-color: rgba(235, 235, 235, 1);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.Image {
    width: 100%;
    margin: auto;
}

.Img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.Information {
    padding: 5px 5px;
    margin: 2%;
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ShortDescription {
    flex-grow: 1;
}

.TechnologiesUsed {
    margin-top: 5%;
    color: rgb(96, 96, 96);
    font-size: 90%;
}

.ProjectName {
    font-weight: 400;
    font-size: 150%;
    text-align: center;
    padding-top: 30px;
}
