@import 'styles/globalMixins.scss';

.PageHeader {
    position: fixed;
    top: 0;

    width: 100%;
    height: $header-height-mobile;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    background-color: $background-color;
    transition: background 200ms ease-in-out 0s, box-shadow 200ms ease-in-out 0s;

    z-index: 200;

    padding: 0 $padding-horizontal-content-mobile;

    @media (min-width: $media-breakpoint-1) {
        height: $header-height-desktop;
        padding: 0 50px;
    }
    @media (min-width: $media-breakpoint-2) {
        padding: 0 75px;
    }
    @media (min-width: $media-breakpoint-3) {
        padding: 0 125px;
    }
}

.PageHeader_AfterScroll {
    background-color: $scrolled-header-background-color;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
}

.PageHeader_AfterScroll_WithSidebar {
    background-color: $scrolled-header-background-color;
    box-shadow: 0;
}

.Name {
    display: flex;
    align-items: center;

    font-family: 'Roboto Mono';
    font-size: 1.5em;
    font-weight: 700;

    ul {
        list-style: none;
        padding: 0;
    }

    @media (min-width: $media-breakpoint-2) {
        font-size: 2.25em;
    }
    @media (min-width: $media-breakpoint-3) {
        font-size: 2.5em;
    }
}

.Navigation {
    height: 100%;
    display: none;

    @media (min-width: $media-breakpoint-1) {
        display: flex;
    }
}

.Burger {
    height: 100%;

    display: flex;

    @media (min-width: $media-breakpoint-1) {
        display: none;
    }
}
