@import 'styles/globalMixins.scss';

.Container,
.Main {
    margin: auto;
    width: 100%;
    background-color: $background-color;
    overflow-y: hidden;
}

.Main {
    width: 100%;
    box-sizing: border-box;
    padding: 0 $padding-horizontal-content-mobile;

    @media (min-width: $media-breakpoint-2) {
        width: 80%;
        padding: 0;
    }
}
