.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: calc(95% - 700px);
  box-sizing: border-box;
  transition: all 0.6s ease-out;
  line-height: 1.5;
  text-align: justify;
  height: 700px;
}
